body{
    width: 100%;
    height: 100%;
    margin: 0 auto;


}

ul{
    padding: 0px!important;
}
.menu-principal{
    width: 100%;
    background-color: #14486b;
    height: 100px;
}
main{
    margin: 0 auto;
    width: 100%;
    float: left;
    position: relative;
}
.header-1{
    font-size: 25px;
    color: rgba(245, 237, 237, 0.021);
    float: left;
    width: 40%;
    text-decoration: none;
    text-transform: uppercase;
}
.logo{
    padding: 16px;
    width: 30%;
    float: left;

}

.redes-sociais ul li{
    margin-left: 15px;
    display:inline-block;
    float: left;

}


.redes-sociais{
     
    width: 20%;
    float: right;
}

.header-2{
    background-color:rgb(100, 92, 170);
    width: 100%;
    margin: 0 auto;
    padding: 20px;

}
.menu-urls{
    height: 80px;
    border-bottom: 3px solid #efefef;

}

.menu ul li{
    display: inline-block;
    color:black;
    margin-left: 15px;
}

.menu ul li a:hover{
    color: #0bac0b;
    border-bottom: 1px solid #14486b;
    height: 50px;

}
.menu ul li a{
    color:rgb(41, 177, 177);
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
  
}
.menu {
    width: 70%;
    float: left;
}
.busca{
    width: 30%;
    float: right;
}
.busca input{
    background-image: url(lupa.png);
    background-repeat: no-repeat;
    height: 30px;
    padding: 7px;
    width: 190px;
    margin-top: 10px;
    background-position: 96%;
    border: 1px solid #021827;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}